.scrapy
.ipynb_checkpoints
/logs
/trans/__pycache__/*
*.csv
*.log
scrapy.cfg
__pycache__/
*.pyc
*.ipnyb
/build
*.pyd
/output
/dist
/twit/config.py
config.json
/keys/*
/engine/key
*/keys
*.db
keys.py
settings.py